.author-info {
  cursor: pointer;
  color: white;
  position: absolute;
  bottom: 2em;
  left: 2em;
  z-index: 200;
  display: flex;
  flex-direction: row;
  gap: 8px;
  flex-wrap: wrap;
}

.author-info a {
  line-height: 0.3em;
}

.author-info a svg {
  height: 24px;
  color: white;
  line-height: 1em;
}

.author-name {
  padding-right: 1em;
}

.author-image {
  display: block;
  transition: opacity 1s ease-in-out;
  background-size: cover;
  background-repeat: no-repeat;
  width: 64px;
  height: 64px;
  border-radius: 12px;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-name: showAuthor;
  background-color: transparent;
}

@media screen and (max-width: 768px) {
  .author-image {
    width: 48px;
    height: 48px;
  }
}

.author-identity {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}
.author-actions {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 8px;
}

@media screen and (max-width: 768px) {
  .author-name {
    max-width: 14em;
    line-height: 24px;
  }
}
