@keyframes showGridImage {
  from {
    opacity: 0;
    visibility: visible;
  }

  to {
    opacity: 1;
  }
}

.gridview {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 100vh;
}

.imagegrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
  padding: 1rem;
  width: 100vw;
  overflow: scroll;
  box-sizing: border-box;
}

.imagegrid img.image {
  border-radius: 0.5rem;
  width: 100%;
  object-fit: cover;
  height: 200px;
  cursor: pointer;
  visibility: hidden;
}

.imagegrid video.image {
  border-radius: 0.5rem;
  width: 100%;
  object-fit: cover;
  height: 200px;
  cursor: pointer;
}

.imagegrid .image.show {
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-name: showGridImage;
  visibility: visible;
}

@media screen and (max-width: 600px) {
  .imagegrid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 8px;
    padding: 8px;
  }
}

.imagegrid .image:hover {
  filter: brightness(1.1);
  outline: 1px solid #fff;
}
