.imagegrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
  padding: 1rem;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  box-sizing: border-box;
}

.imagegrid .image {
  border-radius: 0.5rem;
  width: 100%;
  object-fit: cover;
  height: 200px;
  cursor: pointer;
}


.imagegrid .image:hover {
  filter: brightness(1.1);
  outline: 1px solid #fff;
  
} 

