.info-panel {
  position: absolute;
  left: 50%;
  translate: -50%;
  bottom: 0px;
  overflow-wrap: break-word;
  background-color: #111;
  /* background: rgba(0,0,0,.8); */
  /* backdrop-filter: blur(50px); */
  box-sizing: border-box;
  border-radius: 16px 16px 0 0;
  z-index: 220;
  max-height: 90vh;
  overflow-y: scroll;
  width: 80dvw;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.info-panel .link svg {
  padding: 0.5em;
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
  color: white;
}

.info-panel-content {
  padding-left: 1em;
  padding-right: 1em;
}

.info-panel-footer {
  text-align: center;
}

.info-panel-footer button {
  border: none;
  background-color: transparent;
}

.info-panel-footer button svg {
  height: 24px;
  color: white;
}

.info-panel-tags {
  padding-left: 1em;
  padding-right: 1em;
}

.info-panel-tags .tag {
  display: inline;
  padding: 0.2em 0.6em;
  margin-right: 0.2em;
  border-radius: 24px;
  background-color: #444;
  color: white;
  line-height: 2.2em;
  font-size: 1rem;
  cursor: pointer;
  overflow: visible;
}

.info-panel-tags .tag:hover {
  background-color: #555;
  gap: 8px;
}

@media screen and (max-width: 768px) {
  .info-panel {
    left: 0;
    width: 100dvw;
    translate: 0;
    min-width: 100dvw;
  }
}

.info-panel-author {
  display: flex;
  flex-direction: row;
}

.info-panel-author .link {
  padding: 1em;
}

.info-panel-author .author-info {
  position: relative;
  left: initial;
  bottom: initial;
  padding-left: 1em;
  padding-top: 1em;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}
