@keyframes showGridImage {
  from {
    opacity: 0;
    visibility: visible;
  }

  to {
    opacity: 1;
  }
}

.mason-view {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 100dvh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.mason-imagegrid {
  display: grid;
  grid-template-columns: repeat(7, calc(100% / 7 - 12px));
  width: 100vw;
  box-sizing: border-box;
  gap: 12px;
  padding: 12px;
}

.mason-imagegrid .column {
  display: flex;
  flex-direction: column;
  gap: 12px;
  line-height: 0px;
}
.mason-imagegrid .column a {
  color: white;
  cursor: pointer;
}

.mason-imagegrid img.mason-image {
  border-radius: 0.5rem;
  width: 100%;
  cursor: pointer;
  visibility: hidden;
  background: #222;
}

.mason-imagegrid video.mason-image {
  border-radius: 0.5rem;
  width: 100%;
  cursor: pointer;
}

.mason-imagegrid .mason-image.show {
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-name: showGridImage;
  visibility: visible;
}

.mason-imagegrid .image:hover {
  filter: brightness(1.1);
  outline: 1px solid #fff;
}

.profile-header {
  padding: 1.2em;
  padding-bottom: 0.6em;
  padding-left: 5em;
  display: flex;
  flex-direction: row;
  line-height: 64px;
  padding-right: 6em;
  width: 100vw;
  box-sizing: border-box;
}

.profile-header h2 {
  margin: 0px;
}

.profile-header .author-info {
  position: relative;
  bottom: initial;
  left: initial;
}

@media screen and (max-width: 768px) {
  .profile-header .author-info .author-name {
    display: block;
  }
}
