.page-header {
  padding: 1.2em;
  padding-bottom: 0.6em;
  padding-left: 5em;
  display: flex;
  flex-direction: row;
  line-height: 64px;
  padding-right: 6em;
  width: 100vw;
  box-sizing: border-box;
  min-height: 90px;
}

.page-header .page-search {
  display: flex;
}

.page-header .page-search .title {
  font-size: 24px;
  font-weight: 700;
  margin-top: 8px;
  padding: 8px;
  cursor: pointer;
}

.page-header .page-search .title:hover {
    color: white;
}

.page-header .page-search input {
  background: none;
  border: none;
  font-size: 24px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 6px;
  padding: 10px;
  cursor: pointer;
  width: fit-content;
  min-width: 50vw;
  margin-right: 10px;
}

.page-header .page-search input:focus-visible {
  background: #333;
  outline: none;
  border-radius: 10px;
}

.page-header .page-search svg {
  width: 24px;
}

.page-header h2 {
  margin: 0px;
  cursor: pointer;
  margin-right: 10px;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
}

.page-header .author-info {
  position: relative;
  bottom: initial;
  left: initial;
}

@media screen and (max-width: 768px) {
  .page-header .author-info .author-name {
    display: block;
  }
}
