@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.settings {
  position: fixed;
  width: 80vw;
  height: 80vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  /*justify-content: center;*/
  align-items: center;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  animation: fadeIn 0.5s ease-in-out;
  z-index: 500;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow-y: auto;
  max-width: 35em;
  max-height: 35em;
}

@media (max-width: 768px) {
  .settings {
    width: 90vw;
    height: 90vh;
  }
}

.settings .settings-content {
  flex-grow: 0;
}

.settings .settings-content label {
  display: block;
  margin-bottom: 0.5em;
  color: #aaa;
}

.settings .settings-content input[type='text'],
.settings .settings-content textarea {
  display: block;
  width: 100%;
  background-color: #111;
  border-radius: 8px;
  border: 1px solid #222;
  height: 2em;
  font-family: unset;
  font-size: unset;
  padding: 0.1em;
  padding-left: 0.5em;
  box-sizing: border-box;
}

.settings .settings-content textarea {
  height: 5em;
}

.settings .settings-footer {
  flex-shrink: 1;
  display: flex;
  justify-content: end;
}

.content-warning {
  padding: 16px;
  border-radius: 16px;
  border: 1px solid #ff563f;
  display: flex;
  gap: 12px;
}

.warning {
  color: #ff563f;
  font-weight: 500;
  font-size: 1.2rem;
}

.settings .replies,
.settings .reposts {
  display: flex;
  gap: 12px;
}

.settings h2 {
  margin: 0px;
  padding: 0px;
}

.settings .settings-content > * {
  margin-bottom: 1em;
  max-width: 28em;
}

.settings .settings-mode {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-bottom: 2em;
}

.settings .settings-mode > div {
  padding: 0.5em;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}

.settings .settings-mode > div.active {
  border-bottom: 1px solid #7600ff;
}
