.login-dialog {
  display: flex;
  flex-direction: column;
  padding: 2em;
  border-radius: 20px;
  background-color: #222;
  z-index: 200;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 24px;
}

.login-dialog h2 {
  text-align: center;
  margin-top: 0px;
}

.login-dialog input[type='text'] {
  min-width: 20em;
  display: block;
  width: 100%;
  background-color: #444;
  color: #fff;
  border-radius: 8px;
  border: 0px;
  height: 3em;
  font-family: unset;
  font-size: unset;
  padding: 0.1em;
  padding-left: 1em;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .login-dialog input[type='text'] {
    min-width: 13em;
  }
}

.login-dialog input[type='text']::placeholder {
  color: #888;
  opacity: 1;
}

.login-dialog input[type='text']:active,
.login-dialog input[type='text']:focus {
  border: 0px;
  outline: 0px;
}

.login-dialog .login-address {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.login-dialog button,
.login-dialog button:visited,
.login-dialog button:active {
  background-color: rgb(99, 19, 173);
  color: #fff;
  height: 3em;
  padding-left: 1em;
  padding-right: 1em;
}

.login-dialog .login-extension {
  align-self: center;
}

.login-dialog .close-button {
  cursor: pointer;
  position: absolute;
  right: 1.2em;
  top: 1em;
}
