#root {
  overflow: hidden;
}

body {
  overflow: hidden;
}

@keyframes showImage {
  from {
    scale: 1.2;
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  to {
    scale: 1;
    opacity: 0;
  }
}

.author-info a {
  color: white;
}

.author-info {
  position: absolute;
  bottom: 1em;
  left: 1em;
  z-index: 200;
}

.author-image {
  margin-bottom: 0.5em;
  display: block;
  transition: opacity 1s ease-in-out;
  background-size: cover;
  background-repeat: no-repeat;
  width: 64px;
  height: 64px;
  border-radius: 12px;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  scale: 1;
  opacity: 0;
  animation-duration: 12s;
  animation-timing-function: ease-in;
  animation-name: showImage;
}

.controls {
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 200;
}

.controls button {
  background-color: transparent;
  padding: 0.5em;
}

.controls button:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
